<div class="featured-itens" [ngClass]="type == 'ies' ? 'universities' : 'courses'">
  <div class="container">
    <div class="row">
      <div class="col-sn-12 col-md-8">
        <div class="header">
          <h3>{{title}}</h3>
          <p *ngIf="location">
            <i class="icon creduc-icon-pin"></i>
            {{config.locationLabel}}: <a href="javascript:;" class="city">Salvador, BA</a>
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="search-item-form" *ngIf="search">
          <input type="text" class="form-control" placeholder="{{config.searchPlaceholder}}">
          <input type="submit" class="icon creduc-icon-search" value="">
        </div>
      </div>
    </div>
    <div class="row">
      <ngx-carousel [inputs]="carousel">
        <ngx-item *ngFor="let item of listItems" [ngClass]="type == 'ies' ? 'col-md-3' : 'col-md-4'" NgxCarouselItem>
          <a class="card" [ngClass]="type == 'ies' ? 'card-university' : 'card-course'" [href]="type == 'ies' ? 'unica/cursos' : 'localidade/salvador/administracao'">
            <div class="pic">
              <img  src="{{item.img.src}}" alt="{{item.img.title}}">
            </div>
            <div class="detail">
              <h4 class="title">{{item.title}}</h4>
              <div class="feature">
                <p>Parcelamento em até:</p><strong>{{item.fee}}<i>%</i></strong>
              </div>
              <div class="center-block" *ngIf="showButton">
                <a href="unica/cursos" class="btn btn-primary">Veja os cursos disponíveis</a>
              </div>
            </div>
          </a>
        </ngx-item>
        <button NgxCarouselPrev class='leftRs'>
          <span class="fa fa-angle-left"></span>
        </button>
        <button NgxCarouselNext class='rightRs'>
          <span class="fa fa-angle-right"></span>            
        </button>
      </ngx-carousel>

      <!-- <div *ngFor="let item of listItems" [ngClass]="type == 'ies' ? 'col-md-3' : 'col-md-4'">
        <div class="card" [ngClass]="type == 'ies' ? 'card-university' : 'card-course'">
          <div class="pic">
            <img  src="{{item.img.src}}" alt="{{item.img.title}}">
          </div>
          <div class="detail">
            <h4 class="title">{{item.title}}</h4>
            <div class="feature">
              <p>Parcelamento em até:</p><strong>{{item.fee}}<i>%</i></strong>
            </div>
            <div class="center-block" *ngIf="showButton">
              <a href="javascript:;" class="btn btn-primary">Veja os cursos disponíveis</a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>