@import '../../../assets/styles/scss/variables';
@import '../../../assets/styles/scss/mixins/helpers';

.featured-itens {
	padding-bottom: 35px;
	@include min-desktop-size {
		padding-top: 35px;
	}
	.ngxcarousel {
		position: relative;
		.item {
			padding-left: 15px;
			padding-right: 15px;
		}
		.leftRs,
		.rightRs {
			position: absolute;
			top: 50%;
			margin-top: -30px;
			
			background: transparent;
			border: none;

			background: white;
			font-size: 30px;
			box-shadow: 0px 0px 16px 0px #afafaf;
			outline: none;

			transition: all .1s ease;

			@include min-desktop-size {
				background: transparent;
				box-shadow: none;
				font-size: 50px;
			}
			
			&:hover { color: #18d20d; }
		}
		.leftRs {
			left: -40px;
			@include max-mobile-size { left: 0; }
		}
		.rightRs {
			right: -40px;
			@include max-mobile-size { right: 0; }
		}
	}
	.header {
		h3 {
			font-weight: 900;
			font-size: 18px;
			margin-bottom: 20px;
			@include min-desktop-size {
				font-size: 20px;
				margin-bottom: 10px;
			}
		}
		p {
			font-size: 13px;
			font-weight: bold;
			color: #4b4b4b;
			.creduc-icon-pin {
				margin-bottom: 5px;
			}
			@include min-desktop-size {
				font-size: 14px;
			}
		}
		.city {
			display: block;
			background: white;
			padding: 5px 10px;
			border-radius: 2px;
			border: 1px solid #ebebeb;
			color: #11d305;
			font-weight: 900;
			@include min-desktop-size {
				display: inline;
				background: transparent;
				text-decoration: underline;
			}
		}
	}
	.search-item-form {
		@include min-desktop-size {
			margin-top: 30px;
			position: relative;
		}
		.form-control {
			background: #f4f4f4;
			border: 1px solid #ebebeb;
			font-size: 13px;
			font-style: italic;
			font-weight: 600;
			width: 100%;
			padding: 5px 15px;
			@include input-placeholder {
				color: #4a4a4a;
			}
			@include min-desktop-size {
				border-radius: 40px;
			}
		}
		.creduc-icon-search {
			position: absolute;
			top: 9px;
			right: 20px;
			border: none;
			@include min-desktop-size {
				right: 10px;
			}
		}
	}
	.card {
		background: white;
		padding: 10px 2px 0;
		margin-top: 10px;
		border: 2px solid #e5e5e5;
		border-radius: 5px;
		display: block;
		transition: all ease .2s;
		&:hover {
			text-decoration: none;
			box-shadow: 0 0 10px 0px #d4d4d4;
			margin-top: 8px;
			transition: all ease .2s;
		}
		.title {
			text-align: center;
			font-weight: 900;
			font-size: 16px;
			margin: 0 15px;
		}
		.feature {
			background: #f0f0f1;
			padding: 0 20px;
			border-radius: 5px;
			p {
				display: inline-block;
				width: 50%;
				text-align: right;
				text-transform: uppercase;
				font-size: 11px;
				font-weight: 600;
				color: #8f8f8f;
			}
			strong {
				font-size: 40px;
				color: #2e5279;
				font-weight: 900;
				margin-left: 5px;
				vertical-align: sub;
				i {
					font-style: normal;
					font-size: 20px;
				}
			}
		}
	}
}

.universities {
	background-color: #f0f0f2;
	.card {
		.pic img {
			margin: 20px auto 30px;
			display: block;
		}
		.detail {
			.title {
				padding: 15px 20px;
				border-top: 2px solid #eaeaea;
			}
			.center-block {
				text-align: center;	
			}
			.btn {
				margin: 20px auto;
				display: inline-block;
			}
		}
	}
}

.courses {
	background-color: #f0f0f2;
	.card {
		padding-bottom: 10px;
		padding-top: 2px;
		// margin-bottom: 30px;
		@include min-desktop-size {
			padding: 3px;
			height: 150px;
		}
		.pic {
			height: 117px;
			overflow: hidden;
			@include min-desktop-size {
				max-height: 142px;
				overflow: hidden;
				display: inline-block;
				width: 40%;
				height: auto;
			}
			img {
				width: 100%;
				@include min-desktop-size {
				}
			}
		}
		.detail {
			@include min-desktop-size {
				width: 58%;
				height: 100%;
				display: inline-block;
				vertical-align: top;
				position: relative;
			}
			.title {
				padding: 20px 20px 5px;
				border-bottom: 2px solid #eaeaea;
				@include min-desktop-size {
					margin: 15px 10px 0;
					padding: 0 0 7px;
					text-align: left;
					font-size: 18px;
					border-color: #dddddd;
				}
			}
			.feature {
				margin-top: 10px;
				@include min-desktop-size {
					position: absolute;
					bottom: 0;
					width: 100%;
					padding: 0;
					margin: 0;
				}
			}
		}
	}
}
