<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 contact">
          <div>
            <p>Fale com o Creduc</p>
            <p class="phone-number">
              4004 4040 / 0800 770 7740
            </p>
          </div>
          <div class="social-links">
            <p>Siga, curta e compartilhe :)</p>
            <ul>
              <li><a href="javascript:;" class="social-link facebook"></a></li>
              <li><a href="javascript:;" class="social-link twitter"></a></li>
              <li><a href="javascript:;" class="social-link instagram"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-8">
          <div class="nav-links">
            <div class="logo">
              <img src="/assets/images/logo-white.png" alt="Logo Creduc">
            </div>
            <nav>
              <div class="group">
                <a href="javascript:;">O Creduc</a>
                <ul>
                  <li>
                    <a href="javascript">Quem Somos</a>
                  </li>
                  <li>
                    <a href="javascript">Políticas de Privacidade</a>
                  </li>
                  <li>
                    <a href="javascript">Termos de Uso</a>
                  </li>
                  <li>
                    <a href="javascript">Parcelamento de Cursos</a>
                  </li>
                </ul>
              </div>
              <div class="group">
                <a href="javascript:;">Contato</a>
                <ul>
                  <li>
                    <a href="javascript">Fale Conosco</a>
                  </li>
                  <li>
                    <a href="javascript">Assessoria de Imprensa</a>
                  </li>
                  <li>
                    <a href="javascript">Perguntas Frequentes</a>
                  </li>
                  <li>
                    <a href="javascript">Chat</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="container copyright">
            <p>© 2017  CREDUC. Todos os direitos reservados</p>
          </div>
        </div>
      </div>
    </div>
  </div>