@import '../../../assets/styles/scss/variables';
@import '../../../assets/styles/scss/mixins/helpers';

.footer {
	background-color: #274464;
	color: #7094b0;
  font-size: 15px;
  padding-top: 30px;
	text-align: center;
	.container {
		@media(max-width: $max_mobile_size) {
			width: 100%;
		}
	}
	.contact {
		padding-bottom: 20px;
		margin-top: 25px;
		@include min-desktop-size {
			float: right;
		}
		.phone-number	{
			font-size: 17px;
			font-weight: bold;
			color: $color_primary;
			background-color: #2b4c70;
			border-radius: 40px;
			padding: 10px 30px;
			display: inline-block;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				width: 40px;
				height: 63px;
				background-image: url(/assets/images/icons/icon-contact-us.png);
				left: -15px;
				top: -10px;
			}
		}
	}
	.social-links {
		ul {
			background-color: #2b4c70;
			border-radius: 40px;
			padding: 10px 30px;
			display: inline-block;
			li {
				list-style: none;
				display: inline-block;
				vertical-align: middle;
				.social-link {
					width: 25px;
					height: 25px;
					display: block;
					background-repeat: no-repeat;
					background-position-y: 50%;
					background-position-x: 50%;
					margin: 0 5px;
					&.facebook {
						background-image: url(/assets/images/icons/icon-facebook.png);
					}
					&.twitter {
						background-image: url(/assets/images/icons/icon-twitter.png);
					}
					&.instagram {
						background-image: url(/assets/images/icons/icon-instagram.png);
					}
				}
			}
		}
	}
	.nav-links {
		padding-bottom: 20px;
		&:before {
			content: '';
			position: absolute;
			background: #2e5278;
			width: 100%;
			height: 132px;
			left: 0;
			@include min-desktop-size {
				content: none;
			}
		}
		.logo {
			display: none;
			@include min-desktop-size {
				display: inline-block;
				position: relative;
				vertical-align: middle;
			}
		}
		nav {
			padding-top: 30px;
			position: relative;
			@include min-desktop-size {
				display: inline-block;
				vertical-align: middle;
			}
			.group {
				@include min-desktop-size {
					display: inline-block;
					margin-left: 30px;
				}
				> a {
					color: #FFF;
					font-weight: 600;
					display: block;
					background: #2b4c70;
					border-radius: 40px;
					padding: 5px 30px;
					text-align: left;
					@include min-desktop-size {
						background: none;
					}
				}
				ul {
					height: 0;
					overflow: hidden;
					@include min-desktop-size {
						height: auto;
						text-align: left;
						padding-left: 30px;
					}
					li {
						list-style: none;
						a {
							color: #FFF;
							font-size: 13px;
						}
					}
				}
			}
		}
	}
	.copyright {
		&:before {
			content: '';
			position: absolute;
			background: #36608f;
			width: 100%;
			height: 58px;
			left: 0;
			@include min-desktop-size {
				content: none;
			}
		}
		p {
			position: relative;
			padding: 20px 0;
			margin-bottom: 0;
			color: #FFF;
			font-size: 12px;
			@include min-desktop-size {
				padding-left: 40px;
				text-align: left;
			}
		}
	}
}
