<div class="parcel-item">
  <h2 class="title"><a href="unica/administracao">Administração</a></h2>
  <div class="labels">
    <span class="label">Presencial</span>
    <span class="label">Diurno</span>
  </div>
  <div class="university">
    <p class="name"><a href="unica">Faculdade Única</a></p>
    <p class="campus">Gilberto Gil Fratelli Vita</p>
  </div>
  <div class="details">
    <div class="detail">
      <strong>0,61 Km</strong> de Você
    </div>
    <div class="detail">
      <strong>Bairro:</strong> Comércio
    </div>
    <div class="detail">
      <strong>Duração:</strong>48 Meses
    </div>
    <div class="detail">
      <strong>Parcelas:</strong>48
    </div>
  </div>
  <div class="spotlight">
    <div class="offer percentage">
      <p>Parcele até:</p>
      <strong>50<i>%</i></strong>
    </div>
    <div class="offer value">
      <p>De R$ 572,40 por:</p>
      <strong><i>R$</i> 286<i>,20*</i></strong>
    </div>
    <div class="details">
      <div class="detail">
        <strong>0,61 Km</strong> de Você
      </div>
      <div class="detail">
        <strong>Bairro:</strong> Comércio
      </div>
      <div class="detail">
        <strong>Duração:</strong>48 Meses
      </div>
      <div class="detail">
        <strong>Parcelas:</strong>48
      </div>
    </div>
    <a class="btn btn-feature" href="unica/administracao">
      <i class="icon creduc-icon-check"></i>
      Quero Parcelar
    </a>
  </div>
</div>