@import '../../../assets/styles/scss/variables';
@import '../../../assets/styles/scss/mixins/helpers';

.parcel-item {
	border: 2px solid #ebebeb;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
	@include min-tablet-size {
		text-align: center;
		max-width: 350px;
		display: inline-block;
	}
	@include min-desktop-size {
		max-width: 100%;
		width: 100%;
		text-align: left;
		position: relative;
		min-height: 130px;
		padding-left: 20px;
	}
	.title {
		margin: 5px 0 10px;
		font-size: 18px;
		font-weight: 900;
		color: #484848;
		@include min-desktop-size {
			margin-bottom: 0;
			font-size: 16px;
		}
	}
	.labels {
		border-bottom: 1px solid #e8e8e8;
		padding-bottom: 10px;
		@include min-desktop-size {
			width: 40%;
			display: inline-block;
		}
		.label {
			background: #78d134;
			color: white;
			font-weight: 700;
			font-size: 11px;
			text-transform: uppercase;
			padding: 2px 6px;
			margin-right: 5px;
		}
	}
	.university {
		margin-top: 10px;
		border-bottom: 1px solid #e8e8e8;
		margin-bottom: 5px;
		@include min-desktop-size {
			width: 26%;
			display: inline-block;
			margin-top: 0;
		}
		.name {
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 0;
			@include min-desktop-size {
				font-size: 13px;
			}
		}
	}
	> .details {
		display: none;
		@include min-tablet-size {
			width: 70%;
		}
		@include min-desktop-size {
			display: block;
			margin-top: 10px
		}
		.detail {
			display: inline-block;
			font-size: 12px;
			margin-right: 10px;
			text-transform: uppercase;
		}
	}
	.spotlight {
		text-align: center;
		@include min-tablet-size {
			max-width: 350px;
			margin: 0 auto;
		}
		@include min-desktop-size {
			position: absolute;
			right: 0;
			top: 5px;
			width: 250px;
		}
		.offer {
			display: inline-block;
			background: #ebebeb;
			padding: 8px 10px 5px;
			border-radius: 4px;
			text-align: center;
			@include min-desktop-size {
				background: transparent;
			}
			p {
				margin-bottom: 3px;
				font-size: 11px;
				text-transform: uppercase;
				@include min-desktop-size {
					font-weight: 700;
				}
			}
			strong {
				font-size: 30px;
				color: #2e5279;
				font-weight: 900;
				margin-left: 5px;
				display: block;
				text-align: center;
				line-height: 25px;
				@include min-desktop-size {
					font-size: 32px;
				}
			}
			i {
				font-style: normal;
				font-size: 14px;
			}
			&.percentage {
				width: 40%;
			}
			&.value {
				width: 57%;
			}
		}
		.details {
			padding: 10px 0;
			border-top: 1px solid #e8e8e8;
			margin-top: 5px;
			text-align: left;
			@include min-desktop-size {
				display: none;
			}
			.detail {
				display: inline-block;
				width: 48%;
				vertical-align: top;
				margin-bottom: 5px;
			}
		}
		.btn-feature {
			padding: 5px 15px 2px 5px;
			font-size: 12px;
			@include min-desktop-size {
				padding: 5px 20px 2px 5px;
				font-size: 15px;
				margin-top: 10px;
			}
			.creduc-icon-check {
				@include min-desktop-size {
					width: 25px;
					height: 28px;
					margin-right: 2px;
				}
			}
		}
	}
}