<div class="fies-comparison">
  <div class="container">
    <div class="bg">
      <h2>UP Faculdade Única x FIES</h2>
      <table>
        <tbody>
          <tr>
            <td width="20%">
              <div class="titulo">
                TAXA DE JUROS
              </div>
            </td>
            <td width="40%">
              <div class="coluna">
                Sem juros*.
              </div>
            </td>
            <td width="40%">
              <div class="coluna">
                Taxa de juros de 6,5% ao ano.
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>