@import '../../../../assets/styles/scss/variables';
@import '../../../../assets/styles/scss/mixins/helpers';

.fies-comparison {
	.bg {
		@include min-desktop-size {
			background-image: url(/assets/images/faculdades/bg-comparison.jpeg);
			background-size: cover;
			height: 100%;
			width: 100%;
			padding: 40px 60px;
		}
		h2 {
			color: #00517b;
			font-weight: 900;
			font-size: 16px;
			text-transform: uppercase;
			text-align: center;
			padding: 0 30px;
			@include min-desktop-size {
				font-size: 20px;
				color: white;
			}
		}
		table {
			margin: 0 auto;
			tr td div {
				font-size: 16px;
				padding: 30px 20px;
				background: white;
				margin: 5px;
				border-radius: 3px;
				text-align: center;
				&.titulo {
					font-weight: 900;
					background: #8edd00;
					color: white;
				}
				&.coluna {
					font-style: italic;
					font-weight: 600;
				}
			}
		}
	}
}