<header app-topbar></header>

<div class="wrapper course">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="javascript:;">Parcelamento</a></li>
      <li><a href="javascript:;">Faculdades</a></li>
      <li class="active">Única</li>
    </ol>
  </div>
  <router-outlet></router-outlet>
</div>

<footer app-footer></footer>