@import '../../../assets/styles/scss/variables';
@import '../../../assets/styles/scss/mixins/helpers';

.wrapper.course .breadcrumb {
	background: #FFF;
	padding: 8px 10px;
	margin-bottom: 0;
	@include min-desktop-size {
		float: right;
		padding-right: 0;
	}
	li {
		&.active, a {
			color: #787878;
			font-size: 11px;
			text-transform: uppercase;
		}
		&.active {
			font-weight: 700;
		}
	}
}