@import '../../assets/styles/scss/variables';

.btn {
	padding: 6px 20px;
  background: #444444;
  color: #FFF;
  border-radius: 50px;
  font-weight: 700;
	font-size: 13px;
	border-bottom: 2px solid darken(#444444, 10%);
	&:hover {
		text-decoration: none;
	}
	&.btn-primary {
		// border-color: #78d134;
		background: $color_primary;
		border-color: darken($color_primary, 10%);
		&.outline {
			background: transparent;
			border: 1px solid #18d20d;
			color: #484848;
		}
	}
	&.btn-feature {
		background-color: #8edd00;
		border-color: #18d20d;
		background-image: linear-gradient(#8edd00, #60d600);
		padding: 5px 25px 2px 5px;
		text-transform: uppercase;
		display: inline-block;
		font-size: 15px;
		font-weight: 900;
		&:hover {
			color: white;
		}
		.creduc-icon-check {
			margin-right: 10px;
		}
		&.btn-sm i {
			width: 29px;
			height: 31px;
		}
	}
} 