.icon {
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-color: transparent;
	background-size: 100%;
}

.creduc-icon-check {
	background-image: url(/assets/images/icons/icon-btn-parcelar.png);
	width: 41px;
	height: 41px;
}
.creduc-icon-phone {
	background-image: url(/assets/images/icons/icon-phone.png);
	width: 32px;
	height: 32px;
}
.creduc-icon-arrow-right {
	background-image: url(/assets/images/icons/icon-arrow-right.png);
	width: 18px;
	height: 18px;
}

.icon.creduc-icon-search {
	background-image: url(/assets/images/icons/icon-search.png);
	width: 20px;
  	height: 20px;
}

.creduc-icon-capelo {
	background-image: url(/assets/images/icons/icon-capelo.png);
	width: 23px;
	height: 17px;
}

.creduc-icon-pin {
	background-image: url(/assets/images/icons/icon-pin.png);
	width: 11px;
	height: 17px;
}

.creduc-icon-trophy {
	background-image: url(/assets/images/icons/icon-trophy.png);
	width: 14px;
	height: 17px;
}

.creduc-icon-info-outline {
	background-image: url(/assets/images/icons/icon-info.png);
	width: 19px;
	height: 19px;
}

.creduc-icon-pc {
	background-image: url(/assets/images/icons/icon-pc.png);
	width: 27px;
	height: 19px;
}

.icon.creduc-icon-phone-outline {
	background-image: url(/assets/images/icons/icon-phone-outline.png);
	width: 19px;
	height: 19px;
}

.icon.creduc-icon-campus {
	background-image: url(/assets/images/icons/icon-campus.png);
	width: 17px;
	height: 17px;
}

.icon.creduc-icon-degree {
	background-image: url(/assets/images/icons/icon-degree.png);
	width: 20px;
	height: 13px;
}

.icon.creduc-icon-modalidade {
	background-image: url(/assets/images/icons/icon-modalidade.png);
	width: 15px;
	height: 15px;
}

.icon.creduc-icon-turno {
	background-image: url(/assets/images/icons/icon-turno.png);
	width: 14px;
	height: 14px;
}

.icon.creduc-icon-calendar {
	background-image: url(/assets/images/icons/icon-calendar.png);
	width: 14px;
	height: 16px;
}

.icon.creduc-icon-megafone {
	background-image: url(/assets/images/icons/icon-megafone.png);
	width: 22px;
	height: 22px;
}

.icon.creduc-icon-info-outline {
	background-image: url(/assets/images/icons/icon-info-outline.png);
	width: 22px;
	height: 22px;
}

.icon.creduc-icon-carinha-feliz {
	background-image: url(/assets/images/icons/icon-carinha-feliz.png);
	width: 22px;
	height: 22px;
}