@import '../mixins/helpers';

input {
	outline: 0;
}

label {
	position: relative;
}

.input-search {
	position: relative;
	input[type=text] {
		@include input-placeholder {
			font-size: 16px;
			color: #484848;
			font-weight: 900;
		}
		@include min-desktop-size {
			padding: 20px 10px;
		}
	}
	.icon.creduc-icon-search {
		position: absolute;
		top: 2px;
		right: 20px;
		padding: 15px;
		background-size: 50% 50%;
		background-position: center;
		border: none;
		@include min-desktop-size {
			background-image: url(/assets/images/icons/icon-search-white.png);
			background-color: #10d305;
			padding: 15px;
			border-radius: 5px;
			margin-top: 4px;
		}
	}
}


.custom-check {
	padding-left: 20px;

	@include max-mobile-size {
		margin-right: 10px;
	}

	@include min-desktop-size {
		padding-left: 25px;
	}
}

input[type='radio'],
input[type='checkbox'] {
	display: none;

	& + .fake-input {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 1px;

		display: inline-block;
		
		width: 15px;
		height: 15px;
		margin: 0;

		background-repeat: no-repeat;
		background-position: left center;
		background-size: contain;
		text-align: left;

		font-family: 'Glyphicons Halflings';
		font-size: 10px;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		line-height: 1;

		color: #13d713;
		
		-webkit-font-smoothing: antialiased;

		@include min-desktop-size {
			top: 2px;
			width: 19px;
			height: 19px;
			color: #fff;	
			font-size: 12px;
		}
	}

	&:checked +.fake-input:before {
		content: "\e013";
		display: inline-block;
		
		width: 100%;
		height: 100%;

		@include min-desktop-size {
			margin-top: 1px;
			margin-left: 1px;
		}
	}
}

input[type='radio'] {
	& + .fake-input {
		border-radius: 50%;
		border: 2px solid #fff;


		@include min-desktop-size {
			border-color: #13d713;
		}
	}
	&:checked + .fake-input {		
		background-color: #fff;

		@include min-desktop-size {
			background-color: #13d713;	
		}
	}
}
input[type='checkbox'] {
	& + .fake-input {
		border-radius: 3px;
		border: 2px solid #fff;

		@include min-desktop-size {
			border-color: #13d713;
		}
	}
	&:checked + .fake-input {
		color: #13d713;

		background-color: #fff;

		@include min-desktop-size {
			
		}
	}
}

input[type='range'] {
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
	background: none;
	&::-webkit-slider-runnable-track {
		background-color: #eaeaea;
		height: 4px;
		border-radius: 3px;
		border: 1px solid transparent;
	}

	&::-moz-range-track {
		background-color: #eaeaea;
		height: 4px;
		border-radius: 3px;
		border: none;
	}

	&::-ms-track {
		color: transparent;
		border: none;
		background: none;
		height: 4px;
	}

	&::-ms-fill-lower { 
		background-color: #eaeaea;
		border-radius: 3px;
	}

	&::-ms-fill-upper { 
		background-color: #eaeaea;
		border-radius: 3px;
	}

	&::-ms-tooltip { display: none; /* display and visibility only */ }

	&::-moz-range-thumb {
		border-radius: 20px;
		height: 18px;
		width: 18px;
		border: none;
		background: none;
		background-color: #13d713;
	}

	&:active::-moz-range-thumb {
		outline: none;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		border-radius: 100%;
		background-color: #13d713;
		height: 18px;
		width: 18px;
		margin-top: -7px;
	}

	&:active::-webkit-slider-thumb {
		outline: none;
	}

	&::-ms-thumb { 
		border-radius: 100%;
		background-color: #13d713;
		height: 18px;
		width: 18px; 
		border: none;
	}

	&:active::-ms-thumb {
		border: none;
	}
}