@import '../../../assets/styles/scss/variables';
@import '../../../assets/styles/scss/mixins/helpers';

.wrapper.university {
	.navbar {
		background-color: #eaeaea;
		margin-top: -5px;
		nav {
			display: none;
			@include min-desktop-size {
				display: block;
			}
		}
		.name, .active {
			font-size: 14px;
			font-weight: 900;
			text-transform: uppercase;
			color: #2e5279;
			padding: 0 10px;
			display: inline-block;
		}
		.name {
			padding: 10px;
			@include min-desktop-size {
				display: none;
			}
		}
		.menu-hamburger {
			float: right;
			font-size: 22px;
			font-weight: bold;
			padding: 0 10px;
			@include min-desktop-size {
				display: none;
			}
			i {
				vertical-align: middle;
				color: #adadad;
			}
		}
		ul {
			padding: 10px 0;
			margin-bottom: 0;
			li {
				list-style: none;
				display: inline-block;
				border-right: 1px solid #d9d9d9;
				padding-right: 20px;
				padding-left: 10px;
				a {
					color: #2e5279;
					font-size: 14px;
					display: inline-block;
				}
			}
			:first-child {
				padding-left: 0;
			}
			:last-child {
				border: none;
			}
		}
	}
	.breadcrumb {
		background: #FFF;
		padding: 8px 10px;
		margin-bottom: 0;
		@include min-desktop-size {
			float: right;
			padding-right: 0;
		}
		li {
			&.active, a {
				color: #787878;
				font-size: 11px;
				text-transform: uppercase;
			}
			&.active {
				font-weight: 700;
			}
		}
	}
	.cover {
		.about .description {
			color: #484848;
			@include min-desktop-size {
				float: right;
			}
			h2 {
				font-size: 16px;
				font-weight: 900;
				@include min-desktop-size {
					font-size: 18px;
					margin-top: 0;
				}
			}
			p {
				font-size: 14px;
				@include min-desktop-size {
					font-size: 16px;
				}
			}
		}
	}
}