<header app-topbar></header>
<div class="wrapper university">
  <div class="navbar">
    <div class="container">
      <nav>
        <ul>
          <li><a href="{{ies_slug}}" class="active">Única</a></li>
          <li><a href="{{ies_slug + '/cursos'}}">Cursos</a></li>
          <li><a href="javascript:;">Avaliações dos Alunos</a></li>
        </ul>
      </nav>
      <a href="javascript:;" class="menu-hamburger">
        <i class="glyphicon glyphicon-menu-hamburger"></i>
      </a>
      <a href="javascript:;" class="name">Única</a>
    </div>    
  </div>
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="javascript:;">Parcelamento</a></li>
      <li><a href="javascript:;">Faculdades</a></li>
      <li class="active">Única</li>
    </ol>
  </div>
  

  <router-outlet></router-outlet>
</div>

<footer app-footer></footer>