<div class="course-filter" [ngClass]="{ 'tecnico': modalidade == 'TECNICO'}">
  <div class="row">
    <div class="col-sm-12 col-md-6 modalidade">
      <div class="box">
        <div class="col">
          <label class="custom-check">
            <input type="checkbox" name="modalidadePresencial" value="P"
            [(ngModel)]="courseType.presencial.checked" 
            [checked]="courseType.presencial.checked">
            <span class="fake-input checkbox"></span>
            Presencial
          </label>
        </div>
        <div class="col">
          <label class="custom-check">
            <input type="checkbox" name="modalidadeEad" value="E"
              [(ngModel)]="courseType.ead.checked" 
              [checked]="courseType.ead.checked">
              <span class="fake-input"></span>
               EAD (a distância)
          </label>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="box">
        <span class="label">Busca:</span>
        <label class="custom-check">
          <input type="radio" name="searchType" [(ngModel)]="searchType" (change)="changeSearchType($event)" [checked]="searchType == 'curso'" value="curso"/>
          <span class="fake-input"></span>
          Curso
        </label>
        <label class="custom-check">
          <input type="radio" name="searchType" [(ngModel)]="searchType" (change)="changeSearchType($event)" [checked]="searchType == 'ies'" value="ies"/>
          <span class="fake-input"></span>
          Instituição
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 input-search">
      <input id="typeahead-basic" class="form-control" type="text" 
        placeholder="{{ searchType === 'ies' ? 'Qual instituição deseja estudar?' : 'Qual curso deseja estudar?'}}"
        [(ngModel)]="term" 
        [ngbTypeahead]="typing"
        (selectItem)="selectItem($event)">
      <button class="icon creduc-icon-search" (click)="search()"></button>
    </div>
  </div>
</div>