@import '../../../assets/styles/scss/variables';
@import '../../../assets/styles/scss/mixins/helpers';

.course-filter {
	padding: 20px 10px;
	background: $color_primary;
	margin-top: -15px;
	font-size: 13px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 10px;
	@include max_mobile_size {
		height: 0;
		padding: 0 10px;
		opacity: 0;
	}
	@include min-desktop-size {
		background: transparent;
		margin-bottom: 50px;
	}

	@at-root .float-course-form.active & {
		height: 165px;
		padding: 20px 10px;
		opacity: 1;
		transition: all ease .2s;
	}
	&.tecnico {
		@at-root .float-course-form.active & {
			height: 125px;
		}
		.modalidade {
			display: none;
		}
	}
	.box {
		margin-bottom: 10px;
		padding: 0 7px;
		@include min-desktop-size {
			background: #FFF;
			padding: 12px 15px;
			color: #464646;
			border-radius: 5px;
			font-size: 18px;
		}
		label {
			cursor: pointer;
			@include min-desktop-size {
				vertical-align: middle;
				margin-bottom: 0;
			}
		}
		.col {
			display: inline-block;
			@include min-desktop-size {
				padding-left: 15px;
			}
			.custom-check .fake-input {
				color: #ffffff;
				background-color: transparent;
			}
		}
	}
	.label {
		display: block;
		@include max_mobile_size {
			margin-bottom: 8px;
		}
		@include min-desktop-size {
			display: inline-block;
			font-weight: 700;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	.input-search {
		@include min-desktop-size {
			margin-top: 15px;
		}
		input[type=text] {
			&:focus {
				border-color: #eaeaea;
				outline: 0;
				box-shadow: none;
			}
			&.open {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}

			@include min-desktop-size {
				padding: 30px 15px;
			}
		}
		.icon.creduc-icon-search {
			@include min-desktop-size {
				padding: 25px;
			}
		}
	}

	.dropdown-menu {
		display: block;
		top: 30px !important;
		
		width: 100%;
		max-width: 325px;
		
		padding: 6px 0;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555555;
		background-color: #fff;


		border: 2px solid #eaeaea;
		border-top: none;

		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;

		@include min-desktop-size {
			top: 60px !important;
			max-width: 720px;
		}	

		.dropdown-item {
			width: 100%;

			padding-top: 5px;
			padding-bottom: 5px;

			@include min-desktop-size {
				padding-top: 10px;
				padding-bottom: 10px;
			}	

			text-align: left;
			border: none;

			transition: none;
			
			color: #333;
			background-color: transparent;

			&.active {
				color: #fff;
				background-color: #a6dc33;
			}
		}
	}
}