<div class="container">
  <h1>Faculdade Única - Cursos e Mensalidades</h1>
  <span class="separator"></span>
  <div class="sidebar">
    <div app-brand-card></div>
    <div app-list-filter></div>
  </div>
  <div class="content">
    <div class="search-form">
      <p>Busque seu curso na Faculdade Única e comece a estudar pagando menos!</p>
      <input type="text" class="form-control" placeholder="Digite aqui">
      <span class="note"><strong>*</strong> Valores serão atualizados anualmente conforme legislação vigente.</span>
      <a class="btn btn-default btn-filter" href="javascript:;" (click)="showModalFilter = !showModalFilter">Filtrar Resultados <i class="fa fa-search"></i></a>
    </div>
    <div class="list">
      <div app-parcel-item></div>
    </div>
  </div>
</div>
