@import '../../../../assets/styles/scss/variables';
@import '../../../../assets/styles/scss/mixins/helpers';

$sidebar_size: 240px;

h1 {
	font-size: 20px;
  font-weight: 900;
  color: #2e5279;
  margin-bottom: 20px;
	margin-top: 10px;
	@include min-desktop-size {
		border-bottom: 3px solid #eaeaea;
		padding-bottom: 5px;
	}
}

.search-form {
	p {
		margin-top: 20px;
		font-weight: 900;
	}
	.form-control {
		padding: 18px 10px;
		font-size: 13px;
	}
	.note {
		display: block;
		margin: 10px 0 20px;
		font-size: 11px;
		font-weight: 700;
	}
	.btn-filter {
		display: block;
		border-radius: 3px;
		border: none;
		margin: 15px 0;
		padding: 10px;
		text-align: center;
		background: #ebebeb;
		color: #8e8e8e;
		text-transform: uppercase;
		font-weight: 900;
		position: relative;
		@include min-desktop-size {
			display: none;
		}
		i {
			position: absolute;
			right: 10px;
			font-size: 18px;
			color: #12d713;
		}
	}
}

.sidebar {
	@include min-desktop-size {
		width: 240px;
	}
}

.content {
	@include min-desktop-size {
		margin-left: $sidebar_size + 10px;
		min-height: 950px;
		margin-top: -190px;
	}
}

.list {
	margin-bottom: 20px;
	@include min-tablet-size {
		text-align: center;
	}
}