@import '../../../../assets/styles/scss/variables';
@import '../../../../assets/styles/scss/mixins/helpers';

.steps {
	padding: 0 30px;
	text-align: center;
	h2 {
		font-size: 20px;
		color: #484848;
		margin-bottom: 30px;
		margin-top: 35px;
		@include min-desktop-size {
			font-size: 32px;
		}
	}
	.step {
		h3 {
			font-size: 15px;
			width: 150px;
			margin: 15px auto 20px;
			strong {
				font-weight: 900;
				color: #78d134;
			}
		}
	}
}