<div class="steps">
  <h2>O que devo fazer para parcelar meu curso</h2>
  <div class="step">
    <img src="assets/images/icons/icon-inscricao.png" alt="Faça sua inscrição para o Up Única">
    <h3>Faça sua <strong>inscrição</strong> para o Up Única</h3>
  </div>
</div>