<div class="container registration">
  <nav>
    <a href="javascript:;" class="active">Inscrição</a>
    <a href="javascript:;">Pagamento</a>
    <a href="javascript:;">Confirmação</a>
  </nav>
  <h2 class="title"><i class="fa fa-address-card-o" aria-hidden="true"></i> Dados Pessoais</h2>
  <div class="row">
    <div class="col-md-4">
      <label>
        CPF *
        <input type="text" class="form-control">
      </label>
    </div>
    <div class="col-md-8">
      <label>
        Nome completo *
        <input type="text" class="form-control">
      </label>
    </div>
  </div>
  <fieldset class="active">
    <legend>Documentos do Aluno</legend>
    
    <div class="files">
      <div class="file">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <div class="help-note">
          
        </div>
        <label>
          Carteira de Trabalho
          <input type="file" name="" id="">
        </label>
      </div>
    </div>

    <div class="file-note">
      <p>Arquivos permitidos: imagens e pdf</p>
      <p>Tamanho máximo: 5MB / arquivo.</p>
    </div>
      
  </fieldset>

  <div class="terms">
    <input type="checkbox" name="" id="">
    Declaro que as informações fornecidas são verídicas e que li e aceito os <a href="">Termos e Condições</a> do Contrato, <a href="">Regulamento</a> do Programa e os <a href="">Termos de Uso</a> do site.
  </div>

  <div class="btn btn-feature btn-sm">
      <i class="icon creduc-icon-check"></i>
      Confirmar
    </div>
</div>