@import '../../../../assets/styles/scss/variables';
@import '../../../../assets/styles/scss/mixins/helpers';

.wrapper.university .navbar, .wrapper.university .breadcrumb {
	display: none;
}

.registration {

	nav {
		margin-top: 10px;
		a {
			padding: 4px 15px;
			background: #eaeaea;
			color: #9d9d9d;
			border-radius: 40px;
			font-size: 12px;
			font-weight: 700;
			&.active {
				background: #89dc00;
				color: #FFF;
			}
		}
	}

	.title {
		font-weight: 900;
		font-size: 16px;
		.fa {
			color: #18d20d;
		}
	}

	fieldset {
		border: 1px solid #18d20d;
		margin: 0 2px 10px;
		padding: 10px 20px;
		border-radius: 4px;
		legend {
			text-align: center;
			font-size: 16px;
			font-weight: 900;
			color: #18d20d;
			border: none;
			width: 200px;
			margin-bottom: 5px;
			@include min-desktop-size {
				text-align: left;
				padding-left: 15px;
			}
		}
		.files {
			.file {
				border: 2px dashed #d0d0d0;
				text-align: center;
				padding: 20px 10px;
				position: relative;
				width: 242px;
				.fa {
					position: absolute;
					top: 3px;
					right: 3px;
					color: #18d20d;
				}
				label {
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 900;
				}
				input {
					display: none;
				}
			}
		}
		.file-note {
			margin-top: 10px;
			p {
				font-size: 12px;
				font-weight: 700;
				margin: 0;
			}
		}
	}

	.terms {
		border: 1px solid #18d20d;
		border-radius: 5px;
		padding: 20px;
		font-size: 13px;
		font-weight: 700;
		a {
			color: #18d20d;
		}
	}
}