<div class="container">
  <div class="header">
    <h1>Faculdade Única - Cursos e Mensalidades</h1>
    <span class="separator"></span>
    <p>Com o parcelamento do Creduc você ingressa em uma Faculdade! 
      O Creduc oferece inúmeras opções de parcelamento para cursos de graduação 
      e pós-graduação na área de ADMINISTRAÇÃO em Salvador - BA. 
      Faça sua inscrição e economize nas mensalidades com o Creduc.</p>
      <p>Mais informações sobre o curso de <strong>Enfermagem</strong></p>
  </div>
  <div class="sidebar">
    <div app-list-filter></div>
  </div>
  <div class="content">
    <div>
      <span class="note"><strong>*</strong> Valores serão atualizados anualmente conforme legislação vigente.</span>
      
      <div class="input-order">
        <span>Ordenar por</span>
        <select class="form-control">
          <option value="">Ordenar por:</option>
          <option value="Nome">Nome</option>
          <option value="Porcentagem">Porcentagem</option>
        </select>
      </div>
    </div>
    <div class="list">
      <div app-parcel-item></div>
    </div>
  </div>
</div>