@import '../../../../assets/styles/scss/variables';
@import '../../../../assets/styles/scss/mixins/helpers';

$sidebar_size: 240px;

h1 {
	font-size: 20px;
  font-weight: 900;
  color: #2e5279;
  margin-bottom: 20px;
	margin-top: 10px;
	@include min-desktop-size {
		border-bottom: 3px solid #eaeaea;
		padding-bottom: 5px;
	}
}

.header {
	margin-bottom: 30px;
	p {
		font-size: 15px;
	}
}

.filters-wrapper .filters {
	margin-top: 0;
}

.content {
	@include min-desktop-size {
		margin-left: $sidebar_size + 10px;
		min-height: 950px;
	}
	.note {
		display: none;
		@include min-desktop-size {
			display: inline-block;
			font-size: 12px;
			font-weight: 700;
			margin-top: 30px;
		}
	}
	.input-order {
		display: none;
		@include min-desktop-size {
			display: inline-block;
			float: right;
			margin-bottom: 10px;
		}
	}
}