<div class="brand-card">
  <div class="vertical-align-helper"></div>
  <img src="/assets/images/logo-unica.png" alt="Logo Unica">
  <div class="rating">
    <span><i class="icon creduc-icon-trophy"></i> 91 avaliações</span>
  </div>
</div>