.brand-card {
	position: relative;
	margin: 0 auto;
	width: 229px;
	height: 173px;
	background: #FFF;
	border: 2px solid #eaeaea;
	white-space: nowrap;
	.vertical-align-helper {
		display: inline-block;
		height: 120px;
		vertical-align: middle;
	}
	img {
		display: inline-block;
		margin: 0 auto;
		width: 95%;
		max-height: 120px;
		padding: 10px 20px;
		vertical-align: middle;
	}
	.rating {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto 15px;
		display: block;
		text-align: center;
		span {
			padding: 5px 15px;
			margin: 0 auto 10px;
			background: #ececec;
			border-radius: 40px;
			font-size: 13px;
		}
	}
}