@import '../../../assets/styles/scss/variables';
@import '../../../assets/styles/scss/mixins/helpers';

.header {
	.cover {
		background-image: url(/assets/images/bg-cover.jpeg);
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
		color: #FFF;
		padding-bottom: 20px;
		transition: all ease .2s;
		@include max-mobile-size {
			background: #507ca3;
		}
		.container {
			max-width: 750px;
		}
		h1 {
			font-weight: 300;
			font-size: 30px;
			text-align: center;
			margin-top: 40px;
			margin-bottom: 20px;
		}
		.form-home {
			.filter-place {
				text-align: center;
				font-size: 13px;
				margin-bottom: 38px;
				.city {
					color: #FFF;
					font-weight: 600;
					font-size: 14px;
					margin-left: 5px;
				}
			}
			.degree {
				.btn {
					background: transparent;
					border: none;
					padding: 0;
					input {
						display: none;
						&:checked ~ label {
							color: #FFF;
							background-image: linear-gradient(#8edd00, #60d600);
							border-bottom: none;
							border-color: transparent;
							text-align: left;
							padding-left: 15px;
							@include min-desktop-size {
								text-align: center;
								font-weight: 900;
							}
						}
					}
					label {
						text-align: center;
						display: block;
						color: $color_primary;
						background: #FFF;
						padding: 12px 10px;
						margin-bottom: 10px;
						border-radius: 5px;
						border: 2px solid #e9e9e9;
						font-size: 16px;
						font-weight: 600;
						text-transform: uppercase;
						cursor: pointer;
						@include min-desktop-size {
							padding: 25px 10px;
							font-size: 20px;
						}
					}
				}
			}
			.float-course-form {
				display: block;
				transition: all ease .2s;
				@include min-desktop-size {
					display: none;
				}
			}
			.fixed-course-form {
				display: none;
				@include min-desktop-size {
					display: block;
					padding: 10px 5px;
				}
			}
		}
	}
}
.how-it-works {
	color: #484848;
	@include min-desktop-size {
		padding: 70px 0 30px;
	}
	h2 {
		text-align: center;
		padding-bottom: 5px;
		line-height: 35px;
		@include min-desktop-size {
			font-size: 60px;
			text-align: left;
			max-width: 450px;
			line-height: 65px;
			font-weight: 300;
		}
	}
	.separator {
		width: 200px;
		height: 3px;
		background: #10d305;
		display: block;
		margin: 0 auto 25px;
		@include min-desktop-size {
			margin: 0 0 20px;
			width: 150px;
		}
	}
	.describe {
		font-size: 15px;
		margin-bottom: 30px;
		@include min-desktop-size {
			font-size: 18px;
		}
	}
	.percent-info {
		background-image: url(/assets/images/70porcento-sm.jpeg);
		background-size: 100%;
		width: 222px;
		height: 222px;
		margin: 0 auto 30px;
		@include min-desktop-size {
			background-image: url(/assets/images/70porcento.jpeg);
			width: 352px;
			height: 352px;
			margin-top: 40px;
		}
	}
	.tips {
		@include min-desktop-size {
			margin-top: 40px;
		}
		.tip {
			padding: 10px 30px;
			img {
				margin: 0 auto;
				display: block;
				margin-bottom: 10px;
			}
			p {
				font-size: 15px;
				font-weight: 900;
				text-align: center;
				letter-spacing: -1px;
				padding: 0px 10px;
				@include min-desktop-size {
					font-weight: normal;
					font-size: 16px;
				}
			}
		}
	}
}

