<div class="header">
	<header app-topbar>
		
	</header>
	<div class="cover">
		<div class="bg"></div>
		<div class="container">
			<h1>O que você quer parcelar?</h1>
			<div class="form-home">
				<div class="filter-place">
					<span>Buscando Parcelamentos em:</span>
					<a href="javascript:;" class="city">Salvador, BA</a>
					<!-- <div class="search">
						<label for="selectCity">Digite a localidade</label>
						<ng-select id="selectCity" [allowClear]="true"
												[items]="items"
												[disabled]="disabled"
												(data)="refreshValue($event)"
												(selected)="selected($event)"
												(removed)="removed($event)"
												(typed)="typed($event)"
												placeholder="No city selected">
						</ng-select>
					</div> -->
				</div>
				<div class="row degree">
					<div class="col-sm-12 col-md-4">
						<div class="btn">
							<input type="radio" name="nivel" [(ngModel)]="modalidade" id="nivelGraduacao" value="GRADUACAO">
							<label for="nivelGraduacao">Graduação</label>
						</div>
						<div app-form-filtro-curso [modalidade]="modalidade" class="float-course-form" [ngClass]="{ 'active' : modalidade === 'GRADUACAO' }"></div>
					</div>
					<div class="col-sm-12 col-md-4">
						<div class="btn">
							<input type="radio" name="nivel" [(ngModel)]="modalidade" id="nivelPos" value="POS">
							<label for="nivelPos">Pós-Graduação</label>
						</div>
						<div app-form-filtro-curso [modalidade]="modalidade" class="float-course-form" [ngClass]="{ 'active' : modalidade === 'POS' }"></div>
					</div>
					<div class="col-sm-12 col-md-4">
						<div class="btn">
							<input type="radio" name="nivel" [(ngModel)]="modalidade" id="nivelTecnico" value="TECNICO">
							<label for="nivelTecnico">Cursos Técnicos</label>
						</div>
						<div app-form-filtro-curso [modalidade]="modalidade" class="float-course-form" [ngClass]="{ 'active' : modalidade === 'TECNICO' }"></div>
					</div>
				</div>
				<div class="row">
					<div app-form-filtro-curso [modalidade]="modalidade" class="fixed-course-form"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="how-it-works">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h2>Como funciona o Creduc</h2>
				<span class="separator"></span>
				<p class="describe">Lorem ipsum dolor sit amet, consectetur adipiscing elitaboris nisi ut aliquip ex ea commodo const enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.equat. sed do eiusmod tempor incididunt
					ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
					ea commodo const enim ad minim veniam, quis nostrud.
				</p>
			</div>
			<div class="col-md-5">
				<div class="percent-info"></div>
			</div>
		</div>
		<div class="row tips">
			<div class="col-sm-12 col-md-3 tip">
				<img src="assets/images/icons/icon-window.png" alt="Realize a busca no site e encontre a melhor opção de parcelamento para você">
				<p>Realize a busca no site e encontre a melhor opção de parcelamento para você</p>
			</div>
			<div class="col-sm-12 col-md-3 tip">
				<img src="assets/images/icons/icon-window.png" alt="Realize a busca no site e encontre a melhor opção de parcelamento para você">
				<p>Realize a busca no site e encontre a melhor opção de parcelamento para você</p>
			</div>
			<div class="col-sm-12 col-md-3 tip">
				<img src="assets/images/icons/icon-window.png" alt="Realize a busca no site e encontre a melhor opção de parcelamento para você">
				<p>Realize a busca no site e encontre a melhor opção de parcelamento para você</p>
			</div>
			<div class="col-sm-12 col-md-3 tip">
				<img src="assets/images/icons/icon-window.png" alt="Realize a busca no site e encontre a melhor opção de parcelamento para você">
				<p>Realize a busca no site e encontre a melhor opção de parcelamento para você</p>
			</div>
		</div>
	</div>
</section>

<section app-feature-items [type]="'ies'" [search]="true" [location]="true"></section>
<section app-feature-items [type]="'cursos'" [search]="true" [location]="true"></section>

<footer app-footer>
	
</footer>