<div class="topbar">
  <div class="container">
    <div class="phone-number" (click)="showPopupTelefone = !showPopupTelefone" [ngClass]="{ 'active' : showPopupTelefone }">
      <i class="icon creduc-icon-phone"></i>
      <span>4004 4040 / 0800 770 7740</span>
    </div>
    <div class="logo">
      <a href="/" >
        <img src="/assets/images/logo.png" alt="Logo Creduc">
      </a>
    </div>
    <a href="javascript:;" class="sign-in" (click)="showFormPortalAluno = !showFormPortalAluno">
      <i class="icon creduc-icon-capelo"></i>
    </a>
    <div class="form-login" [ngClass]="{ 'active' : showFormPortalAluno }">
      <input type="text" placeholder="PORTAL DO ALUNO">
      <input type="submit" class="icon creduc-icon-arrow-right" value="">
    </div>
  </div>
</div>