@import '../../../assets/styles/scss/variables';
@import '../../../assets/styles/scss/mixins/helpers';
@import '../../../assets/styles/scss/mixins/animations';

$topbar_height: 62px;

.topbar {
	width: 100%;
	height: $topbar_height;
	background: #fff;
	border-bottom: 5px solid #ebebeb;
	* {
		transition: all ease .2s;
	}
	@include min-desktop-size {
		height: 100px;
	}		
	.container {	
		@include min-desktop-size {
			position: relative;
			height: 100%;
		}
	}

	.phone-number {
		position: absolute;
		left: 3%;
		top: 10px;
		@include max-mobile-size {
			padding: 8px 14px 8px 8px;
			border-right: 1px solid #eaeaea;
		}

		@include min-desktop-size {
			top: 35%;
			left: 15px;
		}
		
		&.active {
			span {			
				top: $topbar_height - 2px;
				@include fade-animation-show;
			}
		}
		.icon.creduc-icon-phone {
			@include max-mobile-size {
				background-image: url(/assets/images/icons/icon-phone-outline.png);
				width: 19px;
				height: 19px;
			}
		}
		span {
			font-weight: bold;
			font-size: 16px;
			color: $color_secondary;
			@include max-mobile-size {
				position: absolute;
				width: max-content;
				max-width: 300px;
				text-align: center;
				background: white;
				border: 2px solid #ebebeb;
				box-shadow: 2px 2px 3px 0px #2b2b2b;
				border-radius: 5px;
				top: 40px;
				left: 0;
				padding: 15px 30px;
				@include fade-animation-hidden;
				&:before {
					border-left: solid 8px transparent;
					border-right: solid 8px transparent;
					content: "";
					height: 8px;
					left: 10px;
					position: absolute;
					width: 8px;
					border-bottom: solid 8px #efefef;
					top: -9px;
				}
			}

			@include min-desktop-size {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	.logo {
		top: 8px;
		left: 0;
		right: 0;
		position: absolute;
		margin: 0 auto;
		width: 133px;
		height: 41px;
		@include min-desktop-size {
			width: 236px;
			height: 72px;
			top: 10%;
		}
		img {
			width: 100%;
		}
	}
	.sign-in {
		right: 3%;
		top: 10px;
		position: absolute;
		padding: 8px 8px 8px 14px;
		border-left: 1px solid #eaeaea;
		@include min-desktop-size {
			display: none;
		}
	}
	.form-login {
		right: 0;
		position: absolute;
		@include max-mobile-size {
			top: 40px;
			left: 0;
			right: 0;
			text-align: center;
			background: #ffffff;
			padding: 10px 0;
			border-bottom: 5px solid #ebebeb;
			@include fade-animation-hidden;
			
			&.active {
				@include fade-animation-show;
				top: $topbar_height - 5px;
			}
		}
		@include min-desktop-size {
			top: 30%;
		}
		input[type=text] {
			background: #f4f4f4;
			border: 2px solid #ebebeb;
			border-radius: 40px;
			padding: 8px 60px;

			@include input-placeholder {
        color: $color_secondary;
				font-weight: 900;
    	}
		}
		.icon.creduc-icon-arrow-right {
			border: none;
			margin-left: -30px;
			vertical-align: text-top;
		}
	}
}