@import '../../../../assets/styles/scss/variables';
@import '../../../../assets/styles/scss/mixins/helpers';

$size_banner_desktop: 290px;

.cover {
	width: 100%;
	height: auto;
	position: relative;
	.banner {
		width: 100%;
		height: 363px;
		max-height: 363px;
		position: relative;
		@include min-desktop-size {
			height: $size_banner_desktop;
			border-bottom: 9px solid #ebebeb;
			background-color: #f5f5f5;
			z-index: -1;
		}
		.sm, .md, .lg {
			background-size: cover;
			background-position-y: 80%;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			z-index: -1;
			position: absolute;
		}
		.sm {
			@include min-desktop-size {
				display: none;
			}
		}
		.lg {
			display: none;
			@include min-desktop-size {
				display: initial;
				height: $size_banner_desktop - 9px;
				width: 70%;
				max-width: 1110px;
				background-size: cover;
				background-position-x: 100%;
				overflow: hidden;
				&:after {
					content: '';
					position: absolute;
					right: 0;
					height: 0;
					top: -9px;
					border-bottom: 290px solid whitesmoke;
					border-left: 200px solid transparent;
				}
			}
		}
		.brand-card {
			position: absolute;
			top: 10%;
			left: 0;
			right: 0;
			@include min-desktop-size {
				display: none;
			}
		}
	}
	.container {
		@include max-mobile-size {
			margin: 0 auto;
			padding: 0;
		}
		@include min-desktop-size {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
		}
		.course-filter {
			padding: 10px 10px 25px;
			margin-bottom: 25px;
			background: #f5f5f5;
			border-bottom: 5px solid #ebebeb;
			@include min-desktop-size {
				width: 320px;
				float: right;
				margin-top: 50px;
				padding: 10px;
				background: transparent;
				border: none;
			}
			h1 {
				font-size: 16px;
				font-weight: 700;
				color: #484848;
				text-align: center;
				@include min-desktop-size {
					color: #464646;
					font-size: 20px;
					margin-bottom: 30px;
					margin-top: 0;
				}
			}
			.input-location {
				margin-bottom: 10px;
				@include min-desktop-size {
					height: 40px;
				}
				.icon {
					@include min-desktop-size {
						vertical-align: middle;
					}
				}
				.city {
					@include min-desktop-size {
						vertical-align: sub;
					}
				}
			}
			.input-search {
				.form-control {
					@include min-desktop-size {
						padding: 28px 15px;
					}
				}
				.icon {
					@include min-desktop-size {
						margin-top: 8px;
						right: 10px;
						width: 40px;
						height: 40px;
					}
				}
			}
		}
	}
}
.about {
	@include min-desktop-size {
		padding: 40px 0 10px;
	}
	.description {
		color: #484848;
		@include min-desktop-size {
			float: right;
		}
		h2, h3, h4, h5 {
			font-size: 16px;
			font-weight: 900;
			@include min-desktop-size {
				font-size: 18px;
				margin-top: 0;
			}
		}
		p {
			font-size: 14px;
			@include min-desktop-size {
				font-size: 16px;
			}
		}
	}
	.contact-info {
		text-align: center;
		@include min-desktop-size {
			float: left;
			display: table;
			text-align: left;
		}
		.tips {
			@include min-desktop-size {
				display: table-footer-group;
			}
			.btn {
				font-weight: 900;
				border-radius: 5px;
				vertical-align: bottom;
				padding: 10px 20px;
				display: inline-block;
				margin: 10px 0 30px;
				.icon {
					margin-right: 8px;
					vertical-align: middle;
				}
			}
		}
		.detail {
			@include min-desktop-size {
				display: table-footer-group;
			}
			img {
				width: 100%;
				max-width: 290px;
				margin-bottom: 20px;
				@include min-desktop-size {
					max-width: 468px;
				}
			}
			.icon {
				margin-right: 5px;
			}
			.url {
				font-weight: 900;
				font-size: 16px;
				color: #78d134;
			}
			.phone {
				font-weight: 900;
				font-size: 16px;
				color: #484848;
			}
		}
	}
}