<div class="cover">
  <div class="banner">
    <div class="sm" style="background-image: url(/assets/images/faculdades/banner-sm.jpeg);"></div>
    <div class="lg" style="background-image: url(/assets/images/faculdades/banner-lg.jpeg);"></div>
    <div app-brand-card></div>
  </div>
  <div class="container">
    <div class="course-filter">
      <h1>A Faculdade Única oferece opções de parcelamento no Creduc. Confira!</h1>
      <div class="input-location form-control">
        <i class="icon creduc-icon-pin"></i>
        <a href="javascript:;" class="city">Salvador, BA</a>
      </div>
      <div class="input-search">
        <input class="form-control" type="text" placeholder="Buscar um curso?">
        <button class="icon creduc-icon-search" (click)="search()"></button>
      </div>
    </div>
  </div>
</div>
<div class="about container">
  <div class="col-sm-12 col-md-8 description">
    <h2>Parcelamento Estudantil na Única com o Creduc</h2>
    <p>
      Quer ingressar na Faculdade Única, por meio de um parcelamento estudantil?
      Encontre aqui a sua oportunidade para começar a realizar esse sonho. A faculdade é parceira do Creduc!
      Por meio de parcerias com instituições privadas em todo o Brasil,
      o Creduc oferece opções de parcelamento para graduação, pós-graduação e cursos técnicos.
      Não perca tempo! Invista em sua carreira, veja os cursos disponíveis na sua região e faça a inscrição gratuita.
    </p>

    <h2>Sobre a Faculdade Única</h2>
    <p>
      A Faculdade Única é uma instituição de ensino superior que visa alcançar, através do Ensino e da Extensão, 
      os conhecimentos da Filosofia, da Ciência, da Tecnologia e das Técnicas em geral, 
      para contribuir com o desenvolvimento das áreas sociais da região mineira e ainda formar profissionais para o mercado de trabalho.
    </p>

    <h2>Única Cursos</h2>
    <p>
      A Faculdade Única possui cursos conceituados que integram a prática com a teoria, 
      além de corpo docente qualificado para formar excelentes profissionais. 
      Atualmente, a instituição oferece os cursos de Administração, Enfermagem, Pedagogia, 
      Tecnologia em Gestão Comercial e Tecnologia em Análise e Desenvolvimento de Sistemas e Tecnologia em Construção de Edifícios.
    </p>
  </div>
  <div class="col-sm-12 col-md-4 contact-info">
    <div class="tips">
      <a href="javascript:;" class="btn btn-primary outline">
        <i class="icon creduc-icon-info-outline"></i>Dicas e Informações
      </a>
    </div>
    <div class="detail">
      <img src="assets/images/faculdades/bg-instituicao.jpeg" alt="">
      <p class="url">
        <i class="icon creduc-icon-pc"></i> faculdadeunica.com.br
      </p>
      <p class="phone">
        <i class="icon creduc-icon-phone-outline"></i> 0800 724 2300
      </p>
    </div>
  </div>
</div>

<div app-steps></div>

<div app-fies-comparison></div>

<div app-feature-items [type]="'cursos'"></div>

<div app-address></div>