<div class="address">
  <div class="container">
    <h2>Endereço da Instituição</h2>
    <span class="separator"></span>
  </div>
  <div class="map">
    <div class="container">
      <div class="form-control input-location">
        <i class="icon creduc-icon-pin"></i>
        <select class="city">
          <option value="">Escolha uma unidade</option>
          <option value="Londres">Londres</option>
          <option value="Paris">Paris</option>
        </select>
      </div>
    </div>
  </div>
</div>