@import '../../../../assets/styles/scss/variables';
@import '../../../../assets/styles/scss/mixins/helpers';

.address {
	padding: 0 10px 20px;
	h2 {
		font-weight: 100;
		padding: 0 20px;
		text-align: center;
		@include min-desktop-size {
			text-align: left;
			padding: 0;
		}
	}
	.separator {
		width: 200px;
		height: 3px;
		background: #10d305;
		display: block;
		margin: 0 auto 25px;
		@include min-desktop-size {
			margin: 0 0 25px;
		}
	}
	.input-location {
		position: relative;
		@include min-desktop-size {
			width: 380px;
			height: 40px;
		}
		.icon {
			position: absolute;
			top: 6px;
		}
		.city {
			width: 100%;
			padding-left: 15px;
			border: none;
			@include min-desktop-size {
				font-size: 16px;
				font-weight: 700;
			}
			&:focus {
				outline: none;
			}
		}
	}
}