@import '../../../../assets/styles/scss/variables';
@import '../../../../assets/styles/scss/mixins/helpers';

.cover {
	.banner {
		background: #f5f5f5;
		padding: 30px 0;
		border-bottom: 9px solid #eaeaea;
		.brand-card {
			@include min-desktop-size {
				display: none;
			}
		}
	}
	.course-form {
		@include min-desktop-size {
			width: 45%;
			display: inline-block;
		}
		h2 {
			font-size: 20px;
			font-weight: 900;
			color: #484848;
			@include max-mobile-size {
				text-align: center;
				padding: 0 40px;
				margin-bottom: 20px;
			}
			strong {
				font-weight: 900;
				text-transform: uppercase;
			}
		}
		.col {
			padding: 0;
			@include min-desktop-size {
				padding-right: 10px;
			}
		}
		.form-control {
			font-size: 15px;
			font-weight: 700;
			margin: 5px 0;
			height: auto;
			padding: 7px 10px;
			.icon {
				margin-right: 5px;
				width: 20px;
				height: 19px;
				background-position: 50%;
			}
		}
		.filter-clear {
			margin: 10px 0;
			input {
				vertical-align: text-top;
			}
		}
	}
	.spotlight {
		text-align: center;
		max-width: 500px;
		margin: 20px auto;
		@include min-desktop-size {
			width: 40%;
			display: inline-block;
			float: right;
			margin-top: 40px;
		}
		.offer {
			padding-top: 10px;
			padding-bottom: 0;
			background: #f0f0f2;
			border: 1px solid white;
			box-shadow: 0px 0px 0px 2px #eaeaea;
			p {
				text-align: center;
				text-transform: uppercase;
				font-size: 11px;
				font-weight: 700;
				margin-bottom: 5px;
				color: #484848;
			}
			strong {
				font-size: 30px;
				color: #2e5279;
				font-weight: 900;
				margin-left: 5px;
				display: block;
				text-align: center;
				line-height: 25px;
				i {
					font-style: normal;
					font-size: 14px;
				}
			}
		}
		.btn-feature {
			@include min-desktop-size {
				font-size: 20px;
				padding: 5px 25px 3px 5px;
			}
			.icon {
				@include max-mobile-size {
					width: 31px;
					height: 33px;
				}
			}
		}
		.note {
			display: inline-block;
			padding: 10px 0;
			font-size: 11px;
			font-weight: 700;
		}
	}
	.about {
		padding-top: 10px;
		@include min-desktop-size {
			padding-top: 40px;
		}
		h2 {
			font-size: 18px;
			font-weight: 900;
		}
		.description {
			float: right;
		}
		.course-detail {
			float: left;
			img {
				@include min-desktop-size {
					width: 100%;
				}
			}
			.btn-group {
				text-align: center;
				.btn {
					display: inline-block;
					width: 30%;
					border-radius: 5px;
					padding: 10px 5px;
					text-align: center;
					font-size: 12px;
					font-weight: 900;
					min-height: 80px;
					vertical-align: middle;
					margin: 20px 5px 10px 0;
					@include min-desktop-size {
						font-size: 14px;
						line-height: 14px;
					}
					.icon {
						display: block;
						margin: 0 auto;
						width: 17px;
						@include min-desktop-size {
							width: 20px;
							margin-bottom: 5px;
						}
					}
				}
			}
		}
	}
}