<div class="cover">
  <div class="banner">
    <div app-brand-card></div>
    <div class="container">
      <div class="row course-form">
        <div class="col-sm-12 col-md-12">
          <h2>Administração na Faculdade <strong>Única</strong></h2>
          <div class="col col-md-12 col-sm-12">
            <a href="javascript:;" class="form-control text-uppercase">
              <i class="icon creduc-icon-campus"></i>
              Faculdade Única
            </a>
          </div>
          <div class="col col-xs-12 col-sm-6 col-md-6">
            <a href="javascript:;" class="form-control">
              <i class="icon creduc-icon-degree"></i>
              Graduação
            </a>
          </div>
          <div class="col col-xs-12 col-sm-6 col-md-6">
            <a href="javascript:;" class="form-control">
              <i class="icon creduc-icon-modalidade"></i>
              Presencial
            </a>
          </div>
          <div class="col col-xs-12 col-sm-6 col-md-6">
            <a href="javascript:;" class="form-control">
              <i class="icon creduc-icon-turno"></i>
              Matutino
            </a>
          </div>
          <div class="col col-xs-12 col-sm-6 col-md-6">
            <a href="javascript:;" class="form-control">
              <i class="icon creduc-icon-calendar"></i>
              48 Meses
            </a>
          </div>
        </div>
        <div class="col-md-12">
          <label class="filter-clear" for="limpar">
            <input type="checkbox" name="limpar" id="limpar">
            Limpar Campos
          </label>
        </div>
      </div>
      <div class="spotlight">
        <div class="col-md-6 col-xs-6 offer percentage">
          <p>Parcele em até:</p>
          <strong>70<i>%</i></strong>
        </div>
        <div class="col-md-6 col-xs-6 offer value">
          <p>De R$ 1.258,36 por:</p>
          <strong><i>R$</i> 377<i>,50*</i></strong>
        </div>
        <p class="note">* Valores serão atualizados anualmente conforme legislação vigente.</p>
        <a class="btn btn-feature" href="unica/inscricao">
          <i class="icon creduc-icon-check"></i>
          Quero Parcelar
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="about row">
      <div class="col-sm-12 col-md-8 description">
        <h2>Sobre o curso de Administração</h2>
        <p>
          O curso de Administração busca formar profissionais especializados em táticas Administrativas, 
          e proporcionar uma gestão necessária para o gerenciamento de organizações públicas e privadas. 
          O estudo na área administrativa tem como objetivo a formação de indivíduos que buscam o sucesso 
          daquelas organizações que representam, usando dos seus instrumentos e conhecimentos, para alcançar 
          os melhores resultados dentro das gestões financeiras, de mercado, de pessoas e clientes, entre outros. 
          Com a bolsa de Administração , você tem a oportunidade de estudar todos os âmbitos da gestão financeira, 
          de recursos humanos e operações, planejamento estratégico e marketing, além de logística e vendas.
        </p>
        <h2>Confira o parcelamento de Administração do Creduc</h2>
        <p>
          Mais Bolsas oferece bolsas para Administração para você se tornar um grande administrador e profissional na área. 
          O nosso programa de bolsas de estudo tem o objetivo de oferecer todo o suporte para que você possa ingressar 
          na graduação e na pós-graduação. Dentro do curso de graduação em Administração, o aluno terá uma formação 
          multidisciplinar na área de ciências humanas, com ênfase em matérias como Teoria Organizacional, Marketing, 
          Finanças, Recursos Humanos, Produção e Matemática. Como administrador, você fica responsável por elaborar 
          estratégias para maximizar a produção e os lucros de uma empresa, tomar decisões quanto aos gastos de um órgão 
          público de acordo com os recursos financeiros ou elaborar planos de metas relacionadas aos investimentos em marketing, 
          compra de matérias-primas, entre outros.
        </p>
        <h2>Parcelar faculdade Administração é no Creduc</h2>
        <p>
          Você encontra bolsas de estudo para mais de 18 mil instituições de ensino do país, por meio do site do Mais Bolsas. 
          São bolsas para cursos de preparação para concursos, preparação para vestibulares, educação para jovens e adultos, 
          cursos técnicos, graduação e pós-graduação. Encontre a sua bolsa curso de Administração e comece a estudar em uma 
          de nossas faculdades e universidades parceiras.
        </p>
      </div>
      <div class="col-sm-12 col-md-4 course-detail">
        <img src="assets/images/faculdades/bg-instituicao.jpeg" alt="">
        <div class="btn-group">
          <a href="javascript:;" class="btn btn-primary outline">
            <i class="icon creduc-icon-megafone"></i>
            <span>Informações Importantes</span>
          </a>
          <a href="javascript:;" class="btn btn-primary outline">
            <i class="icon creduc-icon-info-outline"></i>
            <span>Normas e Observações</span>
          </a>
          <a href="javascript:;" class="btn btn-primary outline">
            <i class="icon creduc-icon-carinha-feliz"></i>
            <span>Benefícios</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div app-steps></div>

<div app-fies-comparison></div>

<div app-feature-items [type]="'cursos'"></div>

<div app-address></div>