@import '../../../assets/styles/scss/variables';
@import '../../../assets/styles/scss/mixins/helpers';

$sidebar_size: 240px;

.filters-wrapper {
	@include min-desktop-size {
		width: $sidebar_size;
		position: absolute;
	}
}

.overflow	{
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 1;
	display: none;
	&.active {
		display: initial;
	}
}
.filters {
	position: absolute;
	width: 80vw;
	top: 0;
	left: 0;
	right: 0;
	margin: 10% auto 0;
	padding-bottom: 10px;
	background: white;
	border-radius: 5px;
	border: 2px solid #eaeaea;
	z-index: 1;
	display: none;
	@include min-desktop-size {
		display: block;
		position: initial;
		width: 229px;
	}
	&.active {
		display: initial;
	}
	.btn-close {
		position: absolute;
		right: -20px;
		top: -25px;
		@include min-desktop-size {
			display: none;
		}
		i {
			color: #78d134;
			border: 1px solid #78d134;
			padding: 3px;
			border-radius: 3px;
		}
	}
	h3 {
		font-size: 14px;
		color: #8d8d8d;
		text-align: center;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	.filter {
		h4 {
			font-size: 12px;
			color: #484848;
			text-transform: uppercase;
			font-weight: 900;
			background: #f1f1f1;
			padding: 7px;
		}
		.field {
			position: relative;
			padding: 5px 10px;
			i {
				position: absolute;
				top: 14px;
				left: 20px;
				font-size: 15px;
				color: #78d134;
			}
			input[type=text] {
				padding-left: 30px;
			}
			.custom-check {
				font-weight: normal;
				display: block;
				font-size: 13px;
				.checkbox {
					border-color: #12d713;
					border-width: 1px;
					&:before {
						vertical-align: middle;
						margin-left: 1px;
					}
				}
			}
			a {
				font-size: 13px;
				margin-top: 10px;
				display: block;
			}
		}
	}
}