<div class="filters-wrapper">
  <div class="overflow" [ngClass]="{'active' : showModalFilter}" (click)="showModalFilter = !showModalFilter"></div>
  <div class="filters" [ngClass]="{'active' : showModalFilter}">
    <a href="javascript:;" class="btn-close" (click)="showModalFilter = !showModalFilter"><i class="fa fa-close"></i></a>
    <h3>Filtrar Resultados</h3>
    <div class="filter">
      <h4 class="title">Alterar Cidade</h4>
      <div class="field">
        <i class="fa fa-map-marker"></i>
        <input type="text" class="form-control" name="" id="" placeholder="Localização">
      </div>
    </div>
    <div class="filter">
      <h4 class="title">Faculdade</h4>
      <div class="field">
        <i class="fa fa-institution"></i>
        <input type="text" class="form-control" name="" id="" placeholder="Faculdade">
      </div>
    </div>
    <div class="filter">
      <h4 class="title">Distância</h4>
      <div class="field">
        <input type="range" name="" id="">
        <a href="javascript:;">Não importa</a>
      </div>
    </div>
    <div class="filter">
      <h4 class="title">Nível</h4>
      <div class="field">
        <label class="custom-check">
          <input type="checkbox" name="modalidadePresencial" value="P">
          <span class="fake-input checkbox"></span>
          Graduação
        </label>
        <label class="custom-check">
          <input type="checkbox" name="modalidadePresencial" value="P">
          <span class="fake-input checkbox"></span>
          Pós-Graduação
        </label>
      </div>
    </div>
    <div class="filter">
      <h4 class="title">Modalidade</h4>
      <div class="field">
        <label class="custom-check">
          <input type="checkbox" name="modalidadePresencial" value="P">
          <span class="fake-input checkbox"></span>
          Presencial
        </label>
        <label class="custom-check">
          <input type="checkbox" name="modalidadePresencial" value="P">
          <span class="fake-input checkbox"></span>
          EAD (a distância)
        </label>
      </div>
    </div>
    <div class="filter">
      <h4 class="title">Bairro</h4>
      <div class="field">
        <i class="fa fa-map-signs"></i>
        <input type="text" class="form-control" name="" id="" placeholder="Bairro">
      </div>
    </div>
    <div class="filter">
      <h4 class="title">Turno</h4>
      <div class="field">
        <label class="custom-check">
          <input type="checkbox" name="modalidadePresencial" value="P">
          <span class="fake-input checkbox"></span>
          Diurno
        </label>
        <label class="custom-check">
          <input type="checkbox" name="modalidadePresencial" value="P">
          <span class="fake-input checkbox"></span>
          Noturno
        </label>
        <label class="custom-check">
          <input type="checkbox" name="modalidadePresencial" value="P">
          <span class="fake-input checkbox"></span>
          Livre
        </label>
      </div>
    </div>
  </div>
</div>